<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlinks}}
    <title>About AK weather</title>
</head>

<body>
    <!-- navigation bar -->
    {{>navbar}}
    <!-- header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right">
                        <figure>
                            <img src="images/72b4d6769b2d170723133c7fdfc9da53.jpg" alt="Abhishek" class="img-fluid">
                        </figure>
                    </div>
                    <div class="col-md-6 col-12 main_header_left">

                        <p>About Me</p>
                        <h1>I am a <span style="color: rgb(0, 0, 255);">Steck Web Developer</span> Click here to
                            search your City</h1>
                        <a href="/weather"><button
                                style="border: none; padding: 0.8rem 1.8rem; font-size: 1.4rem; border-radius: 2rem; text-transform: uppercase; box-shadow: 0 10px 8px -8px black; outline: none;">Check
                                now</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer -->
    {{>footer}}
</body>

</html>